<template>
  <div class="header">
    <h3>Hoops Reference</h3>
    <nav v-if="!isLoggedIn">
      <nuxt-link to="/auth/login">Login</nuxt-link>
      <nuxt-link to="/auth/signup">Sign Up</nuxt-link>
    </nav>
    <nav v-else>
      <nuxt-link to="/" @click="logoutUser">Logout</nuxt-link>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { authStore } from '~/store';

@Component({ name: 'VHeader' })
export default class VHeader extends Vue {
  get isLoggedIn() {
    const { getAuthState } = authStore;

    return getAuthState.loggedIn;
  }

  logoutUser() {
    authStore.setLogout();
  }
}
</script>

<style lang="scss"></style>
