<template>
  <button :type="buttonType" :class="buttonClass" @click="handleClick">
    <div>
      <slot></slot>
    </div>
  </button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'VButton'
})
export default class VButton extends Vue {
  @Prop() readonly btnType!: 'submit' | 'reset' | undefined;
  @Prop() readonly primary!: boolean;
  @Prop() readonly secondary!: boolean;
  @Prop() readonly classes!: string;
  @Prop() readonly onClick!: () => void;

  get buttonType() {
    switch (this.btnType) {
      case 'submit':
        return 'submit';
      case 'reset':
        return 'reset';
      default:
        return 'button';
    }
  }

  get buttonClass() {
    const { primary, secondary, classes } = this;
    return `btn ${primary ? 'primary' : secondary ? 'secondary' : 'default'}${
      classes ? ` ${classes}` : ''
    }`;
  }

  get handleClick() {
    return this.onClick || {};
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles';

.btn {
  width: auto;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(md) {
    width: 10rem;
  }

  &.primary {
    color: #fff;
    background-color: #17408b;

    &:hover {
      background-color: #2196f3;
    }
  }

  &.secondary {
    color: #fff;
    background-color: #c9082a;

    &:hover {
      background-color: #f44336;
    }
  }

  &.default {
    color: #434343;
    background-color: #fff;

    &:hover {
      color: #17408b;
    }
  }

  div {
    text-align: center;
  }
}
</style>
