<template>
  <div class="search-container">
    <form @submit.prevent="handleSubmit">
      <input
        type="text"
        :value="value"
        @change="(e) => handleChange(e.target.value)"
      />
      <v-button
        btn-type="submit"
        :primary="true"
        classes="search-btn"
        :on-click="handleSubmit"
        >Search</v-button
      >
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import VButton from '../shared/VButton.vue';

@Component({ name: 'SearchBar', components: { VButton } })
export default class extends Vue {
  @Prop({ required: true }) readonly searchFunc!: (val: string) => void;

  value: string = '';

  handleChange(val: string) {
    this.value = val;
  }

  async handleSubmit() {
    await this.searchFunc(this.value);
    this.value = '';
  }
}
</script>

<style lang="scss">
@import '../../styles';

.search-container {
  flex-grow: 1;
  form {
    margin: 0 auto;
    display: flex;
    width: 100%;

    input {
      flex: 1;
    }

    .search-button {
      margin-left: 1.2rem;
    }
  }
}
</style>
