html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#__layout {
  display: flex;
}

#container {
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  @include breakpoint(md) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
