@mixin breakpoint($size) {
    @if $size == 'xs' {
        @media screen and (max-width: 360px) {
            @content;
        }
    }

    @if $size == 'sm' {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @if $size == 'md' {
        @media screen and (min-width: 768px) {
            @content;
        }
    }

    @if $size == 'lg' {
        @media screen and (min-width: 1020px) {
            @content;
        }
    }

    @if $size == 'xl' {
        @media screen and (min-width: 1260px) {
            @content;
        }
    }
}