<template>
  <auth-form  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AuthForm from '~/components/auth/AuthForm.vue';

@Component({
  name: 'Signup',
  components: {
    AuthForm
  },
  layout: 'no-header'
})
export default class Signup extends Vue {}
</script>

<style></style>