<template>
  <div id="container">
    <v-header />
    <nuxt />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VHeader from '../components/header/VHeader.vue';

@Component({ components: { VHeader } })
export default class extends Vue {}
</script>

<style lang="scss">
@import '~/styles';
</style>
