<template>
  <div>
    <h3>Vue the NBA</h3>
    <p>
      This is a site for the nba stuff.
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class About extends Vue {
  name: string = 'About';
}
</script>

<style scoped lang="scss"></style>
