<template>
  <div class="home-page">
    <search-bar :search-func="fakeSubmit" />
    <select :value="selectedOption" @change="(e) => onChange(e.target.value)">
      <option>Teams</option>
      <option>Players</option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SearchBar from '../components/searchbar/SearchBar.vue';

@Component({
  components: {
    SearchBar
  }
})
export default class extends Vue {
  selectedOption: string = 'Teams';

  onChange(value: string) {
    this.selectedOption = value;
  }

  fakeSubmit() {
    return null;
  }
}
</script>

<style lang="scss">
@import '../styles';

.home-page {
  position: relative;
  display: flex;
}

h3 {
  text-align: center;
}
</style>
