<template>
  <div>
    <h3>{{pageHeader}}</h3>
    <form @submit.prevent="handleSubmit">
      <div>
        <input
          type="email"
          name="email"
          :value="formState.email"
          required
          @change="(e) => setFormState('email', e.target.value)"
        />
        <p :v-if="formState.emailError">{{formState.emailError}}</p>
      </div>
      <div>
        <input
          type="password"
          name="password"
          :value="formState.password"
          required
          @change="(e) => setFormState('password', e.target.value)"
        />
        <p :v-if="formState.passwordError">{{formState.passwordError}}</p>
      </div>
      <button type="submit">Submit</button>
      <p :v-if="formState.formError">{{formState.formError}}</p>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { authStore } from '~/store';

interface IFormState {
  email: string;
  password: string;
  emailError: string;
  passwordError: string;
  formError: string;
}

@Component({ name: 'AuthForm' })
export default class AuthForm extends Vue {
  @Prop({ required: false }) readonly login!: boolean;

  private formState: IFormState = {
    email: '',
    password: '',
    emailError: '',
    passwordError: '',
    formError: ''
  };

  get pageHeader(): string {
    return this.login ? 'Login' : 'Create Account';
  }

  public setFormState(name: keyof IFormState, value: string) {
    this.formState[name] = value;
  }

  public clearErrors() {
    this.formState.passwordError = '';
    this.formState.emailError = '';
    this.formState.formError = '';
  }

  public async handleSubmit() {
    this.clearErrors();
    try {
      const { email, password } = this.formState;
      const user = this.login
        ? await this.$fireAuth.signInWithEmailAndPassword(email, password)
        : await this.$fireAuth.createUserWithEmailAndPassword(email, password);

      if (user.user) {
        authStore.setUser({authUser: user.user});
        this.$router.replace('/');
      }
    } catch (e) {
      this.setFormState(
        'formError',
        this.login
          ? 'Wrong email/password combination'
          : 'Error creating account'
      );
    }
  }
}
</script>

<style lang="scss" scoped></style>
